
 
.bodyx{
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.418);
      
}
.zyx{
        
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        border: solid;
        border-width: 1px;
        display: flex;
        flex: 1;  
        font-size: 1rem;
        font-family: 'Major Mono Display', monospace;
        font-weight: bold;         
}
.fttr{
        font-family: 'Major Mono Display', monospace;
        font-weight: bold;
}

.cxx{
        display: flex;
        justify-content: space-between;
        flex: 9;
}
.cll{
       
       justify-content: flex-start;
}
.cll1{
      
        justify-content: center;
       
}
.cll2{
        justify-content: flex-end;
       
}
.listx{
        text-decoration: none;
        display: inline-flex;
}
.listx1{
        text-decoration: none;
        display: inline-flex;
}


.dropdown1 {
        position: relative;
        display: inline-block;
}

.dropdown1-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 2;
}

.dropdown1:hover .dropdown1-content {
        display: block;
}
.a1{
        text-decoration: none;
        color: black;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}
.inputx{
        text-decoration: none;
        color: black;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}
.a1:hover{
        background-color: black;
        color: white;
}

.Sbox{
        padding-left: 10px;
}

.Sbutton{
        padding-left:  5px; 
        border: none;
        background-color: white;
        font-family: 'Major Mono Display', monospace;
        font-weight: bold;
        font-size: 1rem; 
        font-weight:bold ;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}

.Sbutton:hover{
        background-color: black;
        color: white;
}
.cardbg{
        background-image:url("img/1612-1.jpg") ;
}
.bgEnquiry{
        background-image:url("img/ebg.jpg") ;
}
.bgfeed{
        background-image: url(/img/1612-12.jpg);
}
.bgcontact{
        background-image: url(/img/egb2.jpg);
}
.contact-text{
        font-size: 2rem;
}
.circleimg{
        
        width: 65%;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
}

input[type=text],[type=email], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;

}

input[type=submit] {
        background-color: #0d0d0e;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

.feedbackdiv{
        background-color: white;
        color: black;
        padding: 20px 40px;
        border: solid;
}



.contactushead{
        color: black;
        background-color: white;
        border: 2px solid black;
        margin: auto;  
        padding: 20px;
        text-align: center;
}
      

